---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="42 - Motorola Mobility, Inc. v. Microsoft - telecommnet.com" description="Expert witness case: 42 - Motorola Mobility, Inc. v. Microsoft. Dr. Tal Lavian provided telecommunications expert testimony. 70+ federal court cases, 120+ pa..."  robots="noindex, follow">

  <div class="hero-banner">
    <h1>42 &#8211; Motorola Mobility, Inc. v. Microsoft</h1>
  </div>

  <div class="container">
    <div class="content-full">

      <ul>
        <li><a href="/files/cases/US-Patent-No-7725584.pdf">U.S. Patent No. 7,725,584</a></li>
        <li><a href="/files/cases/US-Patent-No-7493130.pdf">U.S. Patent No. 7,493,130</a></li>
        <li><a href="/files/cases/US-Patent-No-7275116.pdf">U.S. Patent No. 7,275,116</a></li>
        <li><a href="/files/cases/US-Patent-No-7024214.pdf">U.S. Patent No. 7,024,214</a></li>
        <li><a href="/files/cases/US-Patent-No-6219694.pdf">U.S. Patent No. 6,219,694</a></li>
        <li><a href="/files/cases/US-Patent-No-5406643.pdf">U.S. Patent No. 5,406,643</a></li>
      </ul>

      <p class="tags">Tagged: <a href="/communications-expert-witness/">Expert witness mobile wireless</a>, <a href="/communications-expert-witness/">networking expert witness</a>, <a href="/communications-expert-witness/">telecommunications expert witness</a>, <a href="/communications-expert-witness/">wireless expert witness</a></p>

    </div>
  </div>

</BaseLayout>
