---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="Large-Scale Grid Data Networks - telecommnet.com">

  <div class="hero-banner">
    <h1>Large-Scale Grid Data Networks</h1>
  </div>

  <div class="container">
    <div class="content-full">

      <h5>Lavian T.; Hoang D.B.; Mambretti J.; Figueira S.; Naiksatam S.; Kaushil N.; Monga I. ; Durairaj R.; Cutrell D.; Merrill S.; Cohen H.; Daspit P.; Travostino F; GridNets 2004, San Jose, CA., October 2004.</h5>

      <p>Data intensive Grid applications often deal with multiple terabytes and even petabytes of data. For them to be effectively deployed over distances, it is crucial that Grid infrastructures learn how to best exploit high-performance networks (such as agile optical networks). The network footprint of these Grid applications show pronounced peaks and valleys in utilization, prompting for a radical overhaul of traditional network provisioning styles such as peak-provisioning, point-and-click or operator-assisted provisioning. A Grid stack must become capable to dynamically orchestrate a complex set of variables related to application requirements, data services, and network provisioning services, all within a rapidly and continually changing environment. Presented here is a platform that addresses some of these issues. This service platform closely integrates a set of large-scale data services with those for dynamic bandwidth allocation, through a network resource middleware service, using an OGSA-compliant interface allowing direct access by external applications. Recently, this platform has been implemented as an experimental research prototype on a unique wide area optical networking testbed incorporating state-of-the-art photonic components. The paper, which presents initial results of research conducted on this prototype, indicates that these methods have the potential to address multiple major challenges related to data intensive applications. Given the complexities of this topic, especially where scheduling is required, only selected aspects of this platform are considered in this paper.</p>

      <p class="tags">Tagged: <a href="/tag/cloud-computing/">Cloud Computing</a>, <a href="/tag/communications/">Communications</a>, <a href="/tag/computer-communications/">Computer communications</a>, <a href="/tag/computer-networks/">Computer Networks</a>, <a href="/tag/computer-science/">Computer Science</a>, <a href="/tag/data-center/">Data Center</a>, <a href="/tag/ethernet-switching/">Ethernet Switching</a>, <a href="/tag/internet/">Internet</a>, <a href="/tag/network-communications/">Network Communications</a>, <a href="/tag/networking/">Networking</a></p>

    </div>
  </div>

</BaseLayout>
