---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="56 - T-Mobile v. Barkan Wireless Access Technologies - telecommnet.com">

  <div class="hero-banner">
    <h1>56 &#8211; T-Mobile v. Barkan Wireless Access Technologies</h1>
  </div>

  <div class="container">
    <div class="content-full">

      <ul>
        <li><a href="/files/cases/EX1002-US9042306-B2.pdf">U.S. Patent No. 9042306 B2</a></li>
        <li><a href="/files/cases/DECLARATION-OF-TAL-LAVIAN-1.pdf">Declaration of Tal Lavian, Ph.D.</a></li>
      </ul>

    </div>
  </div>

</BaseLayout>
