---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="49 - Linksmart Wireless v. Cisco System... - telecommnet.com" description="Expert witness case: 49 - Linksmart Wireless v. Cisco Systems, T-Mobile. Dr. Tal Lavian provided telecommunications expert testimony. 80+ federal court cases..."  robots="noindex, follow">

  <div class="hero-banner">
    <h1>49 &#8211; Linksmart Wireless v. Cisco Systems, T-Mobile</h1>
  </div>

  <div class="container">
    <div class="content-full">

      <ul>
        <li><a href="/files/cases/US-Patent-No-6779118.pdf">U.S. Patent No. 6,779,118</a></li>
      </ul>

      <p class="tags">Tagged: <a href="/communications-expert-witness/">Computer networks expert witness</a>, <a href="/communications-expert-witness/">expert witness Internet</a>, <a href="/communications-expert-witness/">expert witness routing protocols</a>, <a href="/communications-expert-witness/">telecommunications expert witness</a></p>

    </div>
  </div>

</BaseLayout>
