---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="Parallel SIMD Architecture for Color Image Processing">

  <div class="hero-banner">
    <h1>Parallel SIMD Architecture for Color Image Processing</h1>
  </div>

  <div class="container">
    <div class="content-full">

      <h5>Lavian T.; Tel Aviv University, Tel Aviv, Israel, November 1995.</h5>

      <p class="tags">Tagged: <a href="/communications-expert-witness/">Computer communications</a>, <a href="/communications-expert-witness/">Computer Science</a>, <a href="/communications-expert-witness/">Network Communications</a></p>

    </div>
  </div>

</BaseLayout>
