---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="65 - Facebook, Inc., Instagram LLC v. Skky, LLC - telecommnet.com">

  <div class="hero-banner">
    <h1>65 &#8211; Facebook, Inc., Instagram LLC v. Skky, LLC</h1>
  </div>

  <div class="container">
    <div class="content-full">

      <ul>
        <li><a href="/files/cases/US-Patent-No-9215310.pdf">U.S. Patent No. 9,215,310</a></li>
        <li><a href="/files/cases/Declaration-of-Tal-Lavian-6.pdf">Declaration of Tal Lavian, Ph.D.</a></li>
        <li><a href="/files/cases/US-Patent-No-5815811.pdf">U.S. Patent No. 5,815,811</a></li>
        <li><a href="/files/cases/US-Patent-No-6956833.pdf">U.S. Patent No. 6,956,833</a></li>
        <li><a href="/files/cases/Alan-Gatherer-et-al-DSP-Based-Architectures-for-Mobile-Communications.pdf">Alan Gatherer et al., DSP-Based Architectures for Mobile Communications</a></li>
        <li><a href="/files/cases/US-Patent-No-5726978.pdf">U.S. Patent No. 5,726,978</a></li>
        <li><a href="/files/cases/US-Patent-No-6714968.pdf">U.S. Patent No. 6,714,968</a></li>
        <li><a href="/files/cases/US-Patent-No-8996698.pdf">U.S. Patent No. 8,996,698</a></li>
        <li><a href="/files/cases/Bob-OHara-et-al-80211-Handbook-A-Designers-Companion.pdf">Bob O’Hara et al., 802.11 Handbook: A Designer’s Companion</a></li>
        <li><a href="/files/cases/Terrence-Chan-UNIX-System-Programming-Using-C.pdf">Terrence Chan, UNIX System Programming Using C++</a></li>
      </ul>

    </div>
  </div>

</BaseLayout>
