---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="18 - IXI Mobile v. Apple Inc. - telecommnet.com" description="Expert witness case: 18 - IXI Mobile v. Apple Inc.. Dr. Tal Lavian provided telecommunications expert testimony. 100+ federal court cases, 120+ patents."  robots="noindex, follow">

  <div class="hero-banner">
    <h1>18 &#8211; IXI Mobile v. Apple Inc.</h1>
  </div>

  <div class="container">
    <div class="content-full">

      <ul>
        <li><a href="/files/cases/US-Patent-No-7426398.pdf">U.S. Patent No. 7,426,398</a></li>
        <li><a href="/files/cases/US-Patent-No-7295532.pdf">U.S. Patent No. 7,295,532</a></li>
        <li><a href="/files/cases/US-Patent-No-7039033.pdf">U.S. Patent No. 7,039,033</a></li>
        <li><a href="/files/cases/US-Patent-No-7016648.pdf">U.S. Patent No. 7,016,648</a></li>
      </ul>

      <p class="tags">Tagged: <a href="/communications-expert-witness/">Expert witness mobile wireless</a>, <a href="/communications-expert-witness/">wireless expert witness</a></p>

    </div>
  </div>

</BaseLayout>
