---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="Dynamic Classification Forwarding Engine">

  <div class="hero-banner">
    <h1>Dynamic Classification Forwarding Engine</h1>
  </div>

  <div class="container">
    <div class="content-full">

      <h5>Jaeger R.; Duncan R.; Travostino F.; Lavian T.; Hollingsworth J.; Selected Papers. 10th IEEE Workshop on Metropolitan Area and Local Networks, 1999. 21-24 Nov. 1999, pp. 103 – 109.</h5>

      <p>Current network devices enable connectivity between end systems with support for routing with a defined set of protocol software bundled with the hardware. These devices do not support user customization or introducing new software applications. Programmable network devices allow for the dynamic downloading of customized programs into network devices, allowing for the introduction of new protocols and network services. The Oplet Runtime Environment (ORE) is a programmable network architecture built on a Gigabit Ethernet L3 Routing Switch to support downloadable services. Complementing the ORE, we introduce the JFWD API, a uniform, platform-independent portal through which application programmers control the forwarding engines of heterogeneous network nodes (e.g., switches and routers). Using the JFWD API, an ORE service has been implemented to classify and dynamically adjust packet handling on silicon-based network devices.</p>

      <p class="tags">Tagged: <a href="/communications-expert-witness/">Computer Networks</a>, <a href="/communications-expert-witness/">Computer networks expert witness</a>, <a href="/communications-expert-witness/">data communications</a>, <a href="/communications-expert-witness/">telecommunications</a></p>

    </div>
  </div>

</BaseLayout>
