---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="63 - Facebook, Inc., Instagram LLC v. S... - telecommnet.com" description="Expert witness case: 63 - Facebook, Inc., Instagram LLC v. Skky, LLC. Dr. Tal Lavian provided telecommunications expert testimony. 80+ federal court cases, 1..."  robots="noindex, follow">

  <div class="hero-banner">
    <h1>63 &#8211; Facebook, Inc., Instagram LLC v. Skky, LLC</h1>
  </div>

  <div class="container">
    <div class="content-full">

      <ul>
        <li><a href="/files/cases/Replacement-US-Patent-No-9203870.pdf">US Patent No. 9,203,870</a></li>
        <li><a href="/files/cases/Declaration-of-Tal-Lavian-5.pdf">Declaration of Tal Lavian, Ph.D.</a></li>
        <li><a href="/files/cases/US-Patent-No-7065342.pdf">U.S. Patent No. 7,065,342</a></li>
        <li><a href="/files/cases/US-Patent-No-6233682.pdf">U.S. Patent No. 6,233,682</a></li>
        <li><a href="/files/cases/Alan-Gatherer-et-al-DSP-Based-Architectures-for-Mobile-Communications.pdf">Alan Gatherer et al., DSP-Based Architectures for Mobile Communications</a></li>
        <li><a href="/files/cases/US-Patent-No-5726978.pdf">U.S. Patent No. 5,726,978</a></li>
        <li><a href="/files/cases/US-Patent-No-5815811.pdf">U.S. Patent No. 5,815,811</a></li>
        <li><a href="/files/cases/US-Patent-No-8996698.pdf">U.S. Patent No. 8,996,698</a></li>
        <li><a href="/files/cases/Bob-OHara-et-al-80211-Handbook-A-Designers-Companion.pdf">Bob O’Hara et al., 802.11 Handbook: A Designer’s Companion</a></li>
        <li><a href="/files/cases/Hacker-MP3-The-Definitive-Guide.pdf">Hacker, MP3: The Definitive Guide</a></li>
        <li><a href="/files/cases/US-Application-No-20020065826.pdf">U.S. Application No. 2002/0065826</a></li>
      </ul>

    </div>
  </div>

</BaseLayout>
