---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="Grid Network Services, Draft-ggf-ghpn-netservices-1.0 - telecommnet.com">

  <div class="hero-banner">
    <h1>Grid Network Services, Draft-ggf-ghpn-netservices-1.0</h1>
  </div>

  <div class="container">
    <div class="content-full">

      <h2>George Clapp, Tiziana Ferrari, Doan B. Hoang, Gigi Karmous-Edwards, Tal Lavian, Mark J. Leese, Paul Mealor, Inder Monga, Volker Sander, Franco Travostino, Global Grid Forum(GGF).</h2>

      <p>Network services are services that specialize in the handling of network-related or network-resident resources. Examples of network services are data transport service, network advance reservation service, network Quality of Service (QoS) service, network information service, network monitoring service, and AAA1 service. This informational draft describes how several network services combine and yield a rich mediation function-a resource manager-between grid applications and legacy networks. Complements of these services, the network resource is seen joining CPU and storage as a first-class, grid-managed resource (and handled, as such, by a community scheduler, or other OGSA services). A network service is further labeled as a Grid network service whenever the service has roles and/or interfaces that are deemed to be specific to a grid infrastructure. The three dominant foci of this GHPN effort are a) the relationship between network services and the known elements of grid infrastructure, b) the functional characterization of each grid network service, and c) the interplay among grid network services. The definition of any particular grid network service (e.g., in terms of actual portTypes) is out of scope. The breadth exercise captured by this document is meant to spawn depth work around several grid network services, resulting in standard-track documents homed in either existing working groups or new working groups within the GGF.</p>

      <p class="tags">Tagged: <a href="/tag/communications/">Communications</a>, <a href="/tag/computer-communications/">Computer communications</a>, <a href="/tag/computer-networks/">Computer Networks</a>, <a href="/tag/computer-science/">Computer Science</a>, <a href="/tag/internet/">Internet</a>, <a href="/tag/network-communications/">Network Communications</a>, <a href="/tag/networking/">Networking</a>, <a href="/tag/optical-networking/">Optical Networking</a>, <a href="/tag/software-application/">Software Application</a></p>

    </div>
  </div>

</BaseLayout>
