---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="11 - Service Now, Inc. Petitioner v. HP - telecommnet.com" description="Expert witness case: 11 - Service Now, Inc. Petitioner v. HP. Dr. Tal Lavian provided telecommunications expert testimony. 70+ federal court cases, 120+ pate..."  robots="noindex, follow">

  <div class="hero-banner">
    <h1>11 &#8211; Service Now, Inc. Petitioner v. HP</h1>
  </div>

  <div class="container">
    <div class="content-full">

      <ul>
        <li><a href="/files/cases/US-Patent-No-7925981.pdf">U.S. Patent No. 7,925,981</a></li>
        <li><a href="/files/cases/Declaration-of-Tal-Lavian-PhD-2-1.pdf">Declaration of Tal Lavian Ph.D.</a></li>
        <li><a href="/files/cases/US-Patent-No-7945860.pdf">U.S. Patent No. 7,945,860</a></li>
        <li><a href="/files/cases/US-Pat-Application-Pub-No-2002-0049664.pdf">U.S. Pat. Appl. Pub. No. 2002/0049664</a></li>
        <li><a href="/files/cases/CBM2015-00077CBM-eBay-for-Dummies.pdf">eBay for Dummies</a></li>
        <li><a href="/files/cases/CBM-Chappell-Java-Web-Services.pdf">Chappell, Java Web Services</a></li>
        <li><a href="/files/cases/CBM-Scribner-Applied-SOAP-Implementing-NET-XML-Web-Services.pdf">Scribner, Applied SOAP Implementing .NET XML Web Services</a></li>
        <li><a href="/files/cases/CBM2015-00077CBM-Harold-XML-in-a-Nutshell.pdf">Harold, XML in a Nutshell</a></li>
        <li><a href="/files/cases/CBM-Microsoft-Computer-Dictionary.pdf">Microsoft Computer Dictionary</a></li>
      </ul>

      <p class="tags">Tagged: <a href="/communications-expert-witness/">communications expert witness</a>, <a href="/communications-expert-witness/">Computer networks expert witness</a>, <a href="/communications-expert-witness/">expert witness computer networks</a>, <a href="/communications-expert-witness/">Expert witness telecommunications</a></p>

    </div>
  </div>

</BaseLayout>
