---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="44 - Software Research Inc. v. HP - telecommnet.com">

  <div class="hero-banner">
    <h1>44 &#8211; Software Research Inc. v. HP</h1>
  </div>

  <div class="container">
    <div class="content-full">

      <ul>
        <li><a href="/files/cases/US-Patent-No-7757175.pdf">U.S. Patent No. 7,757,175</a></li>
        <li><a href="/files/cases/US-Patent-No-7231606.pdf">U.S. Patent No. 7,231,606</a></li>
      </ul>

      <p class="tags">Tagged: <a href="/communications-expert-witness/">communications expert witness</a>, <a href="/communications-expert-witness/">Computer networks expert witness</a>, <a href="/communications-expert-witness/">expert witness network communications</a>, <a href="/communications-expert-witness/">Network communications expert witness</a>, <a href="/communications-expert-witness/">telecommunications expert witness</a></p>

    </div>
  </div>

</BaseLayout>
