---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="10 - SERVICENOW, INC. PETITIONER V. HP - telecommnet.com">

  <div class="hero-banner">
    <h1>10 &#8211; SERVICENOW, INC. PETITIONER V. HP</h1>
  </div>

  <div class="container">
    <div class="content-full">

      <ul>
        <li><a href="/files/cases/US-Patent-No-7027411.pdf">U.S. Patent No. 7,027,411</a></li>
        <li><a href="/files/cases/Declaration-of-Tal-Lavian-PhD-1-1.pdf">Declaration of Tal Lavian, Ph.D.</a></li>
        <li><a href="/files/cases/US-Patent-No-6701327.pdf">U.S. Patent No. 6,701,327</a></li>
        <li><a href="/files/cases/US-Patent-No-5821937.pdf">U.S. Patent No. 5,821,937</a></li>
        <li><a href="/files/cases/Microsoft-Computer-Dictionary.pdf">Microsoft Computer Dictionary</a></li>
      </ul>

      <p class="tags">Tagged: <a href="/tag/communications-expert-witness/">communications expert witness</a>, <a href="/tag/expert-witness-computer-networks/">expert witness computer networks</a>, <a href="/tag/wireless-expert-witness/">wireless expert witness</a></p>

    </div>
  </div>

</BaseLayout>
