---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="Java-Based Open Service Interface Architecture - telecommnet.com">

  <div class="hero-banner">
    <h1>Java-Based Open Service Interface Architecture</h1>
  </div>

  <div class="container">
    <div class="content-full">

      <h5>Lavian T.; Lau S.; BAL TR98-010 Bay Architecture Lab Technical Report, March 1998.</h5>

      <p class="tags">Tagged: <a href="/communications-expert-witness/">Cloud Computing</a>, <a href="/communications-expert-witness/">Communications</a>, <a href="/communications-expert-witness/">Computer Science</a>, <a href="/communications-expert-witness/">Expert witness telecommunications</a>, <a href="/communications-expert-witness/">Software Application</a></p>

    </div>
  </div>

</BaseLayout>
