---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="59 - Facebook, Inc., Instagram LLC v. Skky, LLC - telecommnet.com">

  <div class="hero-banner">
    <h1>59 &#8211; Facebook, Inc., Instagram LLC v. Skky, LLC</h1>
  </div>

  <div class="container">
    <div class="content-full">

      <ul>
        <li><a href="/files/cases/US-Patent-No-8892465-to-John-Mikkelsen-et.pdf">U.S. Patent No. 8,892,465</a></li>
        <li><a href="/files/cases/Declaration-of-Tal-Lavian-2.pdf">Declaration of Tal Lavian, Ph.D.</a></li>
        <li><a href="/files/cases/US-Patent-No-8892465.pdf">U.S. Patent No. 8,892,465</a></li>
        <li><a href="/files/cases/US-Patent-No-7065342.pdf">U.S. Patent No. 7,065,342</a></li>
        <li><a href="/files/cases/US-Patent-No-6956833.pdf">U.S. Patent No. 6,956,833</a></li>
        <li><a href="/files/cases/Gene-Frantz-Digital-Signal-Processor-Trends-IEEE-Micro-2000.pdf">Gene Frantz, Digital Signal Processor Trends, IEEE Micro (2000)</a></li>
        <li><a href="/files/cases/US-Patent-No-6931292.pdf">U.S. Patent No. 6,931,292</a></li>
        <li><a href="/files/cases/US-Patent-No-8996698.pdf">U.S. Patent No. 8,996,698</a></li>
        <li><a href="/files/cases/Bob-OHara-et-al-80211-Handbook-A-Designers-Companion.pdf">Bob O’Hara et al., 802.11 Handbook: A Designer’s Companion</a></li>
        <li><a href="/files/cases/EP-0957489-A1-to-Teun-Van-de-Pol.pdf">EP 0957489 A1 to Teun Van de Pol</a></li>
        <li><a href="/files/cases/US-Patent-No-6560577.pdf">U.S. Patent No. 6,560,577</a></li>
      </ul>

    </div>
  </div>

</BaseLayout>
