---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Contact - Dr. Tal Lavian TelecommNet.com">

  <div class="hero-banner">
    <h1>Contact</h1>
  </div>

  <div class="container">
    <div class="content-full">

      <h2>Contact</h2>

        <p>Contact Dr. Tal Lavian &ndash; <a href="/">Telecommunications</a>, <a href="/communications-expert-witness/network-communications-expert-witness/">Network Communications</a>, <a href="/communications-expert-witness/internet-expert-witness/">Internet Protocols (TCP/IP)</a>, <a href="/communications-expert-witness/data-communications-expert/">Data Communications</a>, <a href="/communications-expert-witness/mobile-wireless-expert/">mobile wireless</a>, and <a href="/communications-expert-witness/computer-networking-expert-witness/">Computer Networking</a></p>

        <p>Encino, California</p>

        <p><a href="tel:14082099112">+1 (408) 209-9112</a></p>

        <h3><a href="mailto:tlavian@telecommnet.com">tlavian@telecommnet.com</a></h3>

        <h3><a href="/Dr-Tal-Lavian-CV-Expert-Witness-Network-Communications-Telecommunications-Internet-Protocols-Mobile-Wireless.pdf">curriculum vitae</a></h3>

        <h5>Publications, Academic, and Professional Profiles</h5>

        <h3><a href="https://scholar.google.com/citations?user=Do_JNPQAAAAJ" target="_blank" rel="noopener">Scholar Google</a></h3>

        <h3><a href="https://berkeley.academia.edu/TalLavian" target="_blank" rel="noopener">Academia</a></h3>

        <h3><a href="https://www.researchgate.net/profile/Tal-Lavian" target="_blank" rel="noopener">Rresearch Gate</a></h3>

        <h3><a href="https://patents.justia.com/inventor/tal-lavian" target="_blank" rel="noopener">Justia Patents</a></h3>

        <h3><a href="https://dl.acm.org/profile/81100233720" target="_blank" rel="noopener">ACM</a></h3>

        <h3><a href="https://ieee-collabratec.ieee.org/app/myprofile/about" target="_blank" rel="noopener">IEEE</a></h3>

        <h3><a href="https://dblp.org/search" target="_blank" rel="noopener">dblp</a></h3>

        <h3><a href="https://californiaconsultants.org/members/tal-lavian/" target="_blank" rel="noopener">IEEE-CNSV</a></h3>

        <h3><a href="https://www.ratemyprofessors.com/professor/1813887" target="_blank" rel="noopener">RateMyProfessors</a></h3>

        <h3><a href="https://scholargps.com/scholars/98050981746055/tal-lavian" target="_blank" rel="noopener">ScholarGPS</a></h3>

    </div>
  </div>

</BaseLayout>
