---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="20 - Spherix v. Cisco Systems - telecommnet.com">

  <div class="hero-banner">
    <h1>20 &#8211; Spherix v. Cisco Systems</h1>
  </div>

  <div class="container">
    <div class="content-full">

      <ul>
        <li><a href="/files/cases/US-Patent-No-RE40467.pdf">U.S. Patent No. RE40,467</a></li>
        <li><a href="/files/cases/US-Patent-No-8607323.pdf">U.S. Patent No. 8,607,323</a></li>
        <li><a href="/files/cases/US-Patent-No-7664123.pdf">U.S. Patent No. 7,664,123</a></li>
        <li><a href="/files/cases/US-Patent-No-7397763.pdf">U.S. Patent No. 7,397,763</a></li>
        <li><a href="/files/cases/US-Patent-No-7385998.pdf">U.S. Patent No. 7,385,998</a></li>
        <li><a href="/files/cases/US-Patent-No-6879594.pdf">U.S. Patent No. 6,879,594</a></li>
        <li><a href="/files/cases/US-Patent-No-6807174.pdf">U.S. Patent No. 6,807,174</a></li>
        <li><a href="/files/cases/US-Patent-No-6697325.pdf">U.S. Patent No. 6,697,325</a></li>
        <li><a href="/files/cases/US-Patent-No-6684241.pdf">U.S. Patent No. 6,684,241</a></li>
        <li><a href="/files/cases/US-Patent-No-6661788.pdf">U.S. Patent No. 6,661,788</a></li>
        <li><a href="/files/cases/US-Patent-No-6578086.pdf">U.S. Patent No. 6,578,086</a></li>
        <li><a href="/files/cases/US-Patent-No-6233245.pdf">U.S. Patent No. 6,233,245</a></li>
        <li><a href="/files/cases/US-Patent-No-6222848.pdf">U.S. Patent No. 6,222,848</a></li>
        <li><a href="/files/cases/US-Patent-No-6130877.pdf">U.S. Patent No. 6,130,877</a></li>
        <li><a href="/files/cases/US-Patent-No-5970125.pdf">U.S. Patent No. 5,970,125</a></li>
      </ul>

      <p class="tags">Tagged: <a href="/tag/communications-expert-witness/">communications expert witness</a>, <a href="/tag/computer-networks-expert-witness/">Computer networks expert witness</a>, <a href="/tag/expert-witness-computer-networks/">expert witness computer networks</a>, <a href="/tag/expert-witness-mobile-wireless/">Expert witness mobile wireless</a>, <a href="/tag/expert-witness-routing-protocols/">expert witness routing protocols</a>, <a href="/tag/expert-witness-telecommunications/">Expert witness telecommunications</a>, <a href="/tag/network-communications-expert-witness/">Network communications expert witness</a>, <a href="/tag/wireless-expert-witness/">wireless expert witness</a></p>

    </div>
  </div>

</BaseLayout>
