---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="02 - ServiceNow, Inc. Petitioner v. BMC... - telecommnet.com" description="Expert witness case: 02 - ServiceNow, Inc. Petitioner v. BMC Software, Inc. Dr. Tal Lavian provided telecommunications expert testimony. 100+ federal court ca..."  robots="noindex, follow">

  <div class="hero-banner">
    <h1>02 &#8211; ServiceNow, Inc. Petitioner v. BMC Software, Inc</h1>
  </div>

  <div class="container">
    <div class="content-full">

      <ul>
        <li><a href="/files/cases/US-Patent-No-8646093.pdf">U.S. Patent No. 8,646,093</a></li>
        <li><a href="/files/cases/Declaration-of-Tal-Lavian-PhD-1.pdf">Declaration of Tal Lavian, Ph.D.</a></li>
        <li><a href="/files/cases/Best-Practice-for-Software-Asset-Management.pdf">Best Practice for Software Asset Management</a></li>
        <li><a href="/files/cases/Introduction-to-ITIL.pdf">Introduction to ITIL</a></li>
        <li><a href="/files/cases/A-Guide-to-Software-Asset-Management.pdf">A Guide to Software Asset Management</a></li>
      </ul>

      <p class="tags">Tagged: <a href="/communications-expert-witness/">communications expert witness</a>, <a href="/communications-expert-witness/">expert witness computer networks</a>, <a href="/communications-expert-witness/">Expert witness telecommunications</a></p>

    </div>
  </div>

</BaseLayout>
