---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="48 - Backweb Technologies v. Microsoft - telecommnet.com" description="Expert witness case: 48 - Backweb Technologies v. Microsoft. Dr. Tal Lavian provided telecommunications expert testimony. 100+ federal court cases, 120+ patents."  robots="noindex, follow">

  <div class="hero-banner">
    <h1>48 &#8211; Backweb Technologies v. Microsoft</h1>
  </div>

  <div class="container">
    <div class="content-full">

      <ul>
        <li><a href="/files/cases/US-Patent-No-7512943.pdf">U.S. Patent No. 7,512,943</a></li>
        <li><a href="/files/cases/US-Patent-No-7325068.pdf">U.S. Patent No. 7,325,068</a></li>
        <li><a href="/files/cases/US-Patent-No-7216180.pdf">U.S. Patent No. 7,216,180</a></li>
        <li><a href="/files/cases/US-Patent-No-7139815.pdf">U.S. Patent No. 7,139,815</a></li>
        <li><a href="/files/cases/US-Patent-No-6920110.pdf">U.S. Patent No. 6,920,110</a></li>
        <li><a href="/files/cases/US-Patent-No-6539429.pdf">U.S. Patent No. 6,539,429</a></li>
        <li><a href="/files/cases/US-Patent-No-6493758.pdf">U.S. Patent No. 6,493,758</a></li>
        <li><a href="/files/cases/US-Patent-No-6374289.pdf">U.S. Patent No. 6,374,289</a></li>
        <li><a href="/files/cases/US-Patent-No-6317789.pdf">U.S. Patent No. 6,317,789</a></li>
        <li><a href="/files/cases/US-Patent-No-5913040.pdf">U.S. Patent No. 5,913,040</a></li>
      </ul>

      <p class="tags">Tagged: <a href="/communications-expert-witness/">Cloud Computing</a>, <a href="/communications-expert-witness/">communications expert witness</a>, <a href="/communications-expert-witness/">expert witness computer networks</a>, <a href="/communications-expert-witness/">Expert witness mobile wireless</a>, <a href="/communications-expert-witness/">Expert witness telecommunications</a></p>

    </div>
  </div>

</BaseLayout>
