---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="60 - Facebook, Inc., Instagram LLC v. Skky, LLC - telecommnet.com" description="Expert witness case: 60 - Facebook, Inc., Instagram LLC v. Skky, LLC. Dr. Tal Lavian provided telecommunications expert testimony. 80+ federal court cases, 1...">

  <div class="hero-banner">
    <h1>60 &#8211; Facebook, Inc., Instagram LLC v. Skky, LLC</h1>
  </div>

  <div class="container">
    <div class="content-full">

      <ul>
        <li><a href="/files/cases/US-Patent-No-9118693.pdf">U.S. Patent No. 9,118,693</a></li>
        <li><a href="/files/cases/IPR_9118693_DECLARATION-OF-TAL-LAVIAN.pdf">Declaration of Tal Lavian, Ph.D.</a></li>
        <li><a href="/files/cases/US-Patent-No-9118693.pdf">U.S. Patent No. 9,118,693</a></li>
        <li><a href="/files/cases/US-Patent-No-7065342.pdf">U.S. Patent No. 7,065,342</a></li>
        <li><a href="/files/cases/Ben-Forta-et-al-WAP-Development-with-WML-and-WMLScript.pdf">Ben Forta et al., WAP Development with WML and WMLScript</a></li>
        <li><a href="/files/cases/Alan-Gatherer-et-al-DSP-Based-Architectures-for-Mobile-Communications.pdf">Alan Gatherer et al., DSP-Based Architectures for Mobile Communications</a></li>
        <li><a href="/files/cases/US-Patent-No-8996698.pdf">U.S. Patent No. 8,996,698</a></li>
        <li><a href="/files/cases/Bob-OHara-et-al-80211-Handbook-A-Designers-Companion-IEEE-Press-1999-OHara.pdf">Bob O’Hara et al., 802.11 Handbook: A Designer’s Companion, IEEE Press (1999) (“O’Hara”)</a></li>
      </ul>

    </div>
  </div>

</BaseLayout>
