---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="54 - Trace Wilco INC v. Cisco - telecommnet.com" description="Expert witness case: 54 - Trace Wilco INC v. Cisco. Dr. Tal Lavian provided telecommunications expert testimony. 70+ federal court cases, 120+ patents."  robots="noindex, follow">

  <div class="hero-banner">
    <h1>54 &#8211; Trace Wilco INC v. Cisco</h1>
  </div>

  <div class="container">
    <div class="content-full">

      <ul>
        <li><a href="/files/cases/US-Patent-No-7325063.pdf">U.S. Patent No. 7,325,063</a></li>
        <li><a href="/files/cases/US-Patent-No-6158011.pdf">U.S. Patent No. 6,158,011</a></li>
        <li><a href="/files/cases/US-Patent-No-6061796.pdf">U.S. Patent No. 6,061,796</a></li>
        <li><a href="/files/cases/US-Patent-No-5796948.pdf">U.S. Patent No. 5,796,948</a></li>
      </ul>

    </div>
  </div>

</BaseLayout>
