---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="08 - ServiceNow, Inc. Petitioner v. HP - telecommnet.com" description="Expert witness case: 08 - ServiceNow, Inc. Petitioner v. HP. Dr. Tal Lavian provided telecommunications expert testimony. 70+ federal court cases, 120+ patents."  robots="noindex, follow">

  <div class="hero-banner">
    <h1>08 &#8211; ServiceNow, Inc. Petitioner v. HP</h1>
  </div>

  <div class="container">
    <div class="content-full">

      <ul>
        <li><a href="/files/cases/US-Patent-No-7945860.pdf">U.S. Patent No. 7,945,860</a></li>
        <li><a href="/files/cases/Declaration-of-Tal-Lavian-PhD-7.pdf">Declaration of Tal Lavian, Ph.D.</a></li>
        <li><a href="/files/cases/US-Patent-No-7925981.pdf">U.S. Patent No. 7,925,981</a></li>
        <li><a href="/files/cases/Part-1-Excerpts-from-Rizzo-Programming-Microsoft-Outlook-and-Microsoft-Exchange.pdf">Part 1 &#8211; Excerpts from Rizzo, Programming Microsoft Outlook and Microsoft Exchange</a></li>
        <li><a href="/files/cases/Part-2-Excerpts-from-Rizzo-Programming-Microsoft-Outlook-and-Microsoft-Exchange.pdf">Part 2 &#8211; Excerpts from Rizzo, Programming Microsoft Outlook and Microsoft Exchange</a></li>
        <li><a href="/files/cases/Part-3-Excerpts-from-Rizzo-Programming-Microsoft-Outlook-and-Microsoft-Exchange.pdf">Part 3 &#8211; Excerpts from Rizzo, Programming Microsoft Outlook and Microsoft Exchange</a></li>
        <li><a href="/files/cases/Excerpts-from-Jamison-et-al-Developing-Applications-with-Exchange-2000.pdf">Excerpts from Jamison et al., Developing Applicatons with Exchange 2000</a></li>
        <li><a href="/files/cases/Excerpts-from-Sturm-Developing-XML-Solutions.pdf">Excerpts from Sturm, Developing XML Solutions</a></li>
        <li><a href="/files/cases/Excerpts-from-Chappell-et-al-Java-Web-Services.pdf">Excerpts from Chappell, et al., Java Web Services</a></li>
        <li><a href="/files/cases/Excerpts-from-Scribner-et-al-Applied-SOAP-Implementing-NET-XML-Web-Services.pdf">Excerpts from Scribner, et al., Applied SOAP Implementing .NET XML Web Services</a></li>
        <li><a href="/files/cases/Excerpts-from-Harold-et-al-XML-in-a-Nutshell.pdf">Excerpts from Harold, et al., XML in a Nutshell</a></li>
        <li><a href="/files/cases/Excerpts-from-Microsoft-Computer-Dictionary.pdf">Excerpts from Microsoft Computer Dictionary</a></li>
        <li><a href="/files/cases/Excerpts-from-Anderson-et-al-ASP-30-Programmers-Reference.pdf">Excerpts from Anderson, et al., ASP 3.0 Programmer&rsquo;s Reference</a></li>
      </ul>

      <p class="tags">Tagged: <a href="/communications-expert-witness/">communications expert witness</a>, <a href="/communications-expert-witness/">Computer networks expert witness</a>, <a href="/communications-expert-witness/">Expert witness telecommunications</a>, <a href="/communications-expert-witness/">Network communications expert witness</a></p>

    </div>
  </div>

</BaseLayout>
