---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="03 - ServiceNow, Inc. v. BMC Software,... - telecommnet.com" description="Expert witness case: 03 - ServiceNow, Inc. v. BMC Software, Inc.. Dr. Tal Lavian provided telecommunications expert testimony. 80+ federal court cases, 120+ ..."  robots="noindex, follow">

  <div class="hero-banner">
    <h1>03 &#8211; ServiceNow, Inc. v. BMC Software, Inc.</h1>
  </div>

  <div class="container">
    <div class="content-full">

      <ul>
        <li><a href="/files/cases/US-Patent-No-8646093.pdf">U.S. Patent No. 8,646,093</a></li>
        <li><a href="/files/cases/Declaration-of-Tal-Lavian-PhD-2.pdf">Declaration of Tal Lavian, Ph.D.</a></li>
        <li><a href="/files/cases/Excerpts-from-Best-Practice-for-Software-Asset-Management.pdf">Excerpts from Best Practice for Software Asset Management</a></li>
        <li><a href="/files/cases/Excerpts-from-Rob-Addy-Effective-IT-Service-Management.pdf">Excerpts from Rob Addy, Effective IT Service Management</a></li>
        <li><a href="/files/cases/US-Patent-Appl-No-20050071276.pdf">U.S. Patent Appl. No. 2005/0071276</a></li>
        <li><a href="/files/cases/US-Patent-No-6810389.pdf">U.S. Patent No. 6,810,389</a></li>
      </ul>

      <p class="tags">Tagged: <a href="/communications-expert-witness/">communications expert witness</a>, <a href="/communications-expert-witness/">Computer networks expert witness</a>, <a href="/communications-expert-witness/">Computer Science</a>, <a href="/communications-expert-witness/">expert witness computer networks</a>, <a href="/communications-expert-witness/">Expert witness mobile wireless</a>, <a href="/communications-expert-witness/">expert witness routing protocols</a>, <a href="/communications-expert-witness/">Expert witness telecommunications</a>, <a href="/communications-expert-witness/">Network communications expert witness</a></p>

    </div>
  </div>

</BaseLayout>
