---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="07 - ServiceNow, Inc. Petitioner v. HP - telecommnet.com" description="Expert witness case: 07 - ServiceNow, Inc. Petitioner v. HP. Dr. Tal Lavian provided telecommunications expert testimony. 80+ federal court cases, 120+ patents.">

  <div class="hero-banner">
    <h1>07 &#8211; ServiceNow, Inc. Petitioner v. HP</h1>
  </div>

  <div class="container">
    <div class="content-full">

      <ul>
        <li><a href="/files/cases/US-Patent-No-7945860.pdf">U.S. Patent No. 7,945,860</a></li>
        <li><a href="/files/cases/Declaration-of-Tal-Lavian-PhD-6.pdf">Declaration of Tal Lavian Ph.D.</a></li>
        <li><a href="/files/cases/US-Patent-No-7925981.pdf">U.S. Patent No. 7,925,981</a></li>
        <li><a href="/files/cases/Introducing-BEA-WebLogic-Collaborate-BEA-Systems-Inc.pdf">Introducing BEA WebLogic Collaborate BEA Systems, Inc.</a></li>
        <li><a href="/files/cases/Administering-BEA-WebLogic-Collaborate-BEA-Systems-Inc.pdf">Administering BEA WebLogic Collaborate, BEA Systems Inc.</a></li>
        <li><a href="/files/cases/Programming-BEA-WebLogic-Collaborate-Management-Applications-BEA-Systems-Inc.pdf">Programming BEA WebLogic Collaborate Management Applications, BEA Systems, Inc.</a></li>
        <li><a href="/files/cases/Chappell-Java-Web-Services.pdf">Chappell, Java Web Services</a></li>
        <li><a href="/files/cases/Fox-Web-Publishers-Construction-Kit-with-HTML-32.pdf">Fox, Web Publisher&rsquo;s Construction Kit with HTML 3.2</a></li>
        <li><a href="/files/cases/Scribner-Applied-SOAP-Implementing-NET-XML-Web-Services.pdf">Scribner, Applied SOAP Implementing .NET XML Web Services</a></li>
        <li><a href="/files/cases/Harold-XML-in-a-Nutshell.pdf">Harold, XML in a Nutshell</a></li>
        <li><a href="/files/cases/Microsoft-Computer-Dictionary.pdf">Microsoft Computer Dictionary</a></li>
        <li><a href="/files/cases/US-Patent-No-6891930.pdf">U.S. Patent No. 6,891,930</a></li>
      </ul>

      <p class="tags">Tagged: <a href="/communications-expert-witness/">communications expert witness</a>, <a href="/communications-expert-witness/">Computer networks expert witness</a>, <a href="/communications-expert-witness/">Expert witness mobile wireless</a>, <a href="/communications-expert-witness/">Network communications expert witness</a></p>

    </div>
  </div>

</BaseLayout>
