---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="14 - DIRECTV Petitioner v. Qurio Holdings Patent Owner - telecommnet.com">

  <div class="hero-banner">
    <h1>14 &#8211; DIRECTV Petitioner v. Qurio Holdings Patent Owner</h1>
  </div>

  <div class="container">
    <div class="content-full">

      <ul>
        <li><a href="/files/cases/US-Patent-No-7787904.pdf">U.S. Patent No. 7,787,904</a></li>
        <li><a href="/files/cases/Declaration-of-Tal-Lavian-PhD-Patent-7787904.pdf">Declaration of Tal Lavian Ph.D.</a></li>
        <li><a href="/files/cases/US-Patent-No-8102863.pdf">U.S. Patent No. 8,102,863</a></li>
        <li><a href="/files/cases/Declaration-of-Tal-Lavian-PhD-Patent-8102863.pdf">Declaration of Tal Lavian Ph.D.</a></li>
      </ul>

      <p class="tags">Tagged: <a href="/communications-expert-witness/">communications expert witness</a>, <a href="/communications-expert-witness/">Expert witness telecommunications</a>, <a href="/communications-expert-witness/">wireless expert witness</a></p>

    </div>
  </div>

</BaseLayout>
