---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="52 - F5 Networks v. A10 Networks - telecommnet.com" description="Expert witness case: 52 - F5 Networks v. A10 Networks. Dr. Tal Lavian provided telecommunications expert testimony. 100+ federal court cases, 120+ patents."  robots="noindex, follow">

  <div class="hero-banner">
    <h1>52 &#8211; F5 Networks v. A10 Networks</h1>
  </div>

  <div class="container">
    <div class="content-full">

      <ul>
        <li><a href="/files/cases/US-Patent-No-7395349.pdf">U.S. Patent No. 7,395,349</a></li>
        <li><a href="/files/cases/US-Patent-No-7102996.pdf">U.S. Patent No. 7,102,996</a></li>
        <li><a href="/files/cases/US-Patent-No-6311278.pdf">U.S. Patent No. 6,311,278</a></li>
      </ul>

    </div>
  </div>

</BaseLayout>
