---
// Sidebar component matching production telecommnet.com sidebar
// Links: Scholar Google, Academia, Research Gate, Justia Patents, ACM, IEEE, dblp, IEEE-CNSV, RateMyProfessors, ScholarGPS
---

<aside class="sidebar" aria-label="Academic and professional profiles">
  <h3>Publications, Academic, and Professional Profiles</h3>
  <ul class="profile-links" role="list">
    <li><a href="https://scholar.google.com/citations?user=Do_JNPQAAAAJ" target="_blank" rel="noopener"><img src="/images/icons/academic/google-scholar.svg" alt="Google Scholar" width="28" height="28" style="border-radius:4px;" /> Google Scholar</a></li>
    <li><a href="https://berkeley.academia.edu/TalLavian" target="_blank" rel="noopener"><img src="/images/icons/academic/academia.webp" alt="Academia.edu" width="28" height="28" style="border-radius:4px;" /> Academia.edu</a></li>
    <li><a href="https://www.researchgate.net/profile/Tal-Lavian" target="_blank" rel="noopener"><img src="/images/icons/academic/researchgate.svg" alt="ResearchGate" width="28" height="28" style="border-radius:4px;" /> ResearchGate</a></li>
    <li><a href="https://patents.justia.com/inventor/tal-lavian" target="_blank" rel="noopener"><img src="/images/icons/academic/justia-patents.webp" alt="Justia Patents" width="28" height="28" style="border-radius:4px;" /> Justia Patents</a></li>
    <li><a href="https://dl.acm.org/profile/81100233720" target="_blank" rel="noopener"><img src="/images/icons/academic/acm.svg" alt="ACM Digital Library" width="28" height="28" style="border-radius:4px;" /> ACM Digital Library</a></li>
    <li><a href="https://ieee-collabratec.ieee.org/app/myprofile/about" target="_blank" rel="noopener"><img src="/images/icons/academic/ieee.svg" alt="IEEE Collabratec" width="28" height="28" style="border-radius:4px;" /> IEEE Collabratec</a></li>
    <li><a href="https://dblp.org/pid/55/6412.html" target="_blank" rel="noopener"><img src="/images/icons/academic/dblp.webp" alt="dblp Bibliography" width="28" height="28" style="border-radius:4px;" /> dblp Bibliography</a></li>
    <li><a href="https://californiaconsultants.org/members/tal-lavian/" target="_blank" rel="noopener"><img src="/images/icons/academic/ieee-cnsv.webp" alt="IEEE-CNSV" width="28" height="28" style="border-radius:4px;" /> IEEE-CNSV</a></li>
    <li><a href="https://www.ratemyprofessors.com/professor/1813887" target="_blank" rel="noopener"><img src="/images/icons/academic/ratemyprofessors.webp" alt="RateMyProfessors" width="28" height="28" style="border-radius:4px;" /> RateMyProfessors</a></li>
    <li><a href="https://scholargps.com/scholars/98050981746055/tal-lavian" target="_blank" rel="noopener"><img src="/images/icons/academic/scholargps.webp" alt="ScholarGPS" width="28" height="28" style="border-radius:4px;" /> ScholarGPS</a></li>
  </ul>
</aside>
