---
// Sidebar component matching production telecommnet.com sidebar
// Links: Scholar Google, Academia, Research Gate, Justia Patents, ACM, IEEE, dblp, IEEE-CNSV, RateMyProfessors, ScholarGPS
---

<aside class="sidebar">
  <h3>Dr. Tal Lavian<br>Ph.D., UC Berkeley</h3>
  <ul class="profile-links">
    <li><a href="https://scholar.google.com/citations?user=Do_JNPQAAAAJ" target="_blank" rel="noopener"><img src="/wp-content/uploads/2022/11/Google_Scholar_logo.svg" alt="scholar" width="28" height="28" style="border-radius:4px;" /> Scholar Google</a></li>
    <li><a href="https://berkeley.academia.edu/TalLavian" target="_blank" rel="noopener"><img src="/wp-content/uploads/2022/11/academia-150x150.webp" alt="academia" width="28" height="28" style="border-radius:4px;" /> Academia</a></li>
    <li><a href="https://www.researchgate.net/profile/Tal-Lavian" target="_blank" rel="noopener"><img src="/wp-content/uploads/2022/11/Research-Gate.svg" alt="Research Gate" width="28" height="28" style="border-radius:4px;" /> Rresearch Gate</a></li>
    <li><a href="https://patents.justia.com/inventor/tal-lavian" target="_blank" rel="noopener"><img src="/wp-content/uploads/2022/11/patents-justia.webp" alt="patents justia" width="28" height="28" style="border-radius:4px;" /> Justia Patents</a></li>
    <li><a href="https://dl.acm.org/profile/81100233720" target="_blank" rel="noopener"><img src="/wp-content/uploads/2022/11/ACM.svg" alt="acm" width="28" height="28" style="border-radius:4px;" /> ACM</a></li>
    <li><a href="https://ieee-collabratec.ieee.org/app/myprofile/about" target="_blank" rel="noopener"><img src="/wp-content/uploads/2022/11/IEEE.svg" alt="ieee" width="28" height="28" style="border-radius:4px;" /> IEEE</a></li>
    <li><a href="https://dblp.org/search" target="_blank" rel="noopener"><img src="/wp-content/uploads/2022/11/dblp.icon_.192x192-150x150.webp" alt="dblp icon" width="28" height="28" style="border-radius:4px;" /> dblp</a></li>
    <li><a href="https://californiaconsultants.org/members/tal-lavian/" target="_blank" rel="noopener"><img src="https://telecommnet.com/wp-content/uploads/2023/10/californiaconsultants.jpg" alt="IEEE-CNSV" width="28" height="28" style="border-radius:4px;" /> IEEE-CNSV</a></li>
    <li><a href="https://www.ratemyprofessors.com/professor/1813887" target="_blank" rel="noopener"><span class="profile-icon" style="background:#666;color:#fff;font-size:10px;">RM</span> RateMyProfessors</a></li>
    <li><a href="https://scholargps.com/scholars/98050981746055/tal-lavian" target="_blank" rel="noopener"><img src="https://telecommnet.com/wp-content/uploads/2024/10/scholargps-logo-150x150.png" alt="ScholarGPS" width="28" height="28" style="border-radius:4px;" /> ScholarGPS</a></li>
  </ul>
</aside>
