---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="Active Flow Network Forwarding Engines - telecommnet.com">

  <div class="hero-banner">
    <h1>Active Flow Network Forwarding Engines</h1>
  </div>

  <div class="container">
    <div class="content-full">

      <h5>Lavian T.; Wang P.; Travostino F.; Subramanian S.; Duraraj R.; Hoang D.B.; Sethaput V.; Culler D.; Proceeding of the Active Networks Conference and Exposition, 2002.(DANCE) 29-30 May 2002, pp. 65 – 76.</h5>

      <p>A significant challenge arising from today's increasing Internet traffic is the ability to incorporate intelligent control in high-performance commercial network devices flexibly. The paper tackles this challenge by introducing the active flow manipulation (AFM) mechanism to enhance the traffic control intelligence of network devices through programmability. With AFM, customer network services can exercise active network control by identifying distinctive flows and applying specified actions to alter network behavior in real time. These services are dynamically loaded through Openet by the CPU-based control unit of a network node and are closely coupled with its silicon-based forwarding engines, without negatively impacting forwarding performance. AFM is exposed as a key technology enabling the programmable networking platform Openet. The effectiveness of our approach is demonstrated by four active network services on commercial network nodes.</p>

    </div>
  </div>

</BaseLayout>
