---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="64 - Facebook, Inc., Instagram LLC v. Skky, LLC - telecommnet.com">

  <div class="hero-banner">
    <h1>64 &#8211; Facebook, Inc., Instagram LLC v. Skky, LLC</h1>
  </div>

  <div class="container">
    <div class="content-full">

      <ul>
        <li><a href="/files/cases/US-Patent-No-9203956.pdf">U.S. Patent No. 9,203,956</a></li>
        <li><a href="/files/cases/Declaration-of-Tal-Lavian-PhD-9.pdf">Declaration of Tal Lavian, Ph.D</a></li>
        <li><a href="/files/cases/US-Patent-No-7065342.pdf">U.S. Patent No. 7,065,342</a></li>
        <li><a href="/files/cases/Ben-Forta-et-al-WAP-Development-with-WML-and-WMLScript.pdf">Ben Forta et al., WAP Development with WML and WMLScript</a></li>
        <li><a href="/files/cases/Alan-Gatherer-et-al-DSP-Based-Architectures-for-Mobile-Communications.pdf">Alan Gatherer et al., DSP-Based Architectures for Mobile Communications</a></li>
        <li><a href="/files/cases/US-Patent-No-5726978.pdf">U.S. Patent No. 5,726,978</a></li>
        <li><a href="/files/cases/US-Patent-No-8996698.pdf">U.S. Patent No. 8,996,698</a></li>
        <li><a href="/files/cases/Bob-OHara-et-al-80211-Handbook-A-Designers-Companion.pdf">Bob O’Hara et al., 802.11 Handbook: A Designer’s Companion</a></li>
        <li><a href="/files/cases/Scot-Hacker-MP3-The-Definitive-Guide.pdf">Scot Hacker, MP3 The Definitive Guide</a></li>
        <li><a href="/files/cases/US-Patent-No-5815811.pdf">U.S. Patent No. 5,815,811</a></li>
        <li><a href="/files/cases/US-Patent-No-6693236.pdf">U.S. Patent No. 6,693,236</a></li>
      </ul>

    </div>
  </div>

</BaseLayout>
