---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="01 - RPX IPR PTAB filing - telecommnet.com">

  <div class="hero-banner">
    <h1>01 &#8211; RPX IPR PTAB filing</h1>
  </div>

  <div class="container">
    <div class="content-full">

      <ul>
        <li><a href="/files/cases/US-Patent-No-8788090.pdf">U.S. Patent No. 8,788,090</a></li>
        <li><a href="/files/cases/Declaration-of-Tal-Lavian-PhD.pdf">Declaration of Tal Lavian, Ph.D.</a></li>
        <li><a href="/files/cases/US-Patent-No-7933968.pdf">U.S. Patent No. 7,933,968</a></li>
        <li><a href="/files/cases/US-Patent-No-7477950-to-DeBourke.pdf">U.S. Patent No. 7,477,950 to DeBourke</a></li>
        <li><a href="/files/cases/International-Application-No-WO-0112038-to-The-Procter-Gamble-Company.pdf">International Application No. WO 01/12038 to The Procter and Gamble Company</a></li>
        <li><a href="/files/cases/IFIP-International-Federation-for-Information-Processing-2003-Omnisphere-I.pdf">IFIP International Federation for Information Processing (2003) (&ldquo;Omnisphere I&rdquo;)</a></li>
        <li><a href="/files/cases/Institute-of-Electrical-and-Electronics-Engineers-2003-Omnisphere-II.pdf">Institute of Electrical and Electronics Engineers (2003)(&ldquo;Omnisphere II&rdquo;)</a></li>
        <li><a href="/files/cases/US-Patent-Application-Publication-US-20020083342-to-Webb-et-al.pdf">U.S. Patent Application Publication US 2002/0083342 to Webb et al</a></li>
        <li><a href="/files/cases/US-Patent-Application-Publication-US-20010043686-to-Lggulden.pdf">U.S. Patent Application Publication US 2001/0043686 to Lggulden</a></li>
        <li><a href="/files/cases/US-Patent-Application-Publication-US-2002-0052966-to-Isomura-et-al.pdf">U.S. Patent Application Publication US 2002/0052966 to Isomura et al. (&ldquo;Isomura&rdquo;)</a></li>
      </ul>

      <p class="tags">Tagged: <a href="/communications-expert-witness/">communications expert witness</a>, <a href="/communications-expert-witness/">Computer networks expert witness</a>, <a href="/communications-expert-witness/">expert witness computer networks</a>, <a href="/communications-expert-witness/">expert witness routing protocols</a>, <a href="/communications-expert-witness/">Expert witness telecommunications</a>, <a href="/communications-expert-witness/">Network communications expert witness</a></p>

    </div>
  </div>

</BaseLayout>
