---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="43 - EIT v. YELP! INC. - telecommnet.com">

  <div class="hero-banner">
    <h1>43 &#8211; EIT v. YELP! INC.</h1>
  </div>

  <div class="container">
    <div class="content-full">

      <ul>
        <li><a href="/files/cases/US-Patent-No-RE40683-1.pdf">U.S. Patent No RE40,683</a></li>
        <li><a href="/files/cases/US-Patent-No-8060504.pdf">U.S. Patent No. 8,060,504</a></li>
        <li><a href="/files/cases/US-Patent-No-7298271.pdf">U.S. Patent No. 7,298,271</a></li>
        <li><a href="/files/cases/US-Patent-No-6594765.pdf">U.S. Patent No. 6,594,765</a></li>
        <li><a href="/files/cases/US-Patent-No-6249868.pdf">U.S. Patent No. 6,249,868</a></li>
        <li><a href="/files/cases/US-Patent-No-6188988.pdf">U.S. Patent No. 6,188,988</a></li>
        <li><a href="/files/cases/US-Patent-No-6081786.pdf">U.S. Patent No. 6,081,786</a></li>
        <li><a href="/files/cases/US-Patent-No-5828837.pdf">U.S. Patent No. 5,828,837</a></li>
      </ul>

      <p class="tags">Tagged: <a href="/tag/communications-expert-witness/">communications expert witness</a>, <a href="/tag/expert-witness-internet/">expert witness Internet</a>, <a href="/tag/expert-witness-internet-protocols/">Expert witness internet protocols</a>, <a href="/tag/network-communications-expert-witness/">Network communications expert witness</a></p>

    </div>
  </div>

</BaseLayout>
