---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="04 - ServiceNow, Inc. v. BMC Software,... - telecommnet.com" description="Expert witness case: 04 - ServiceNow, Inc. v. BMC Software, Inc.. Dr. Tal Lavian provided telecommunications expert testimony. 80+ federal court cases, 120+ ..."  robots="noindex, follow">

  <div class="hero-banner">
    <h1>04 &#8211; ServiceNow, Inc. v. BMC Software, Inc.</h1>
  </div>

  <div class="container">
    <div class="content-full">

      <ul>
        <li><a href="/files/cases/US-Patent-No-7617073-to-Trinon-et-al.pdf">U.S. Patent No. 7,617,073 to Trinon et al.</a></li>
        <li><a href="/files/cases/Declaration-of-Tal-Lavian-PhD-3.pdf">Declaration of Tal Lavian, Ph.D.</a></li>
        <li><a href="/files/cases/US-Patent-No-7600007.pdf">U.S. Patent No. 7,600,007 to Lewis</a></li>
        <li><a href="/files/cases/International-Patent-Application-No-WO-00-72183-A2-to-Lewis.pdf">International Patent Application No. WO 00/72183 A2 to Lewis</a></li>
        <li><a href="/files/cases/RFC-1067-A-Simple-Network-Management-Protocol-August-1988.pdf">RFC 1067, A Simple Network Management Protocol August 1988</a></li>
        <li><a href="/files/cases/Excerpts-from-Jill-Huntington-Lee-et-al.pdf">Excerpts from Jill Huntington Lee et al</a></li>
      </ul>

      <p class="tags">Tagged: <a href="/communications-expert-witness/">communications expert witness</a>, <a href="/communications-expert-witness/">Expert witness telecommunications</a>, <a href="/communications-expert-witness/">Network communications expert witness</a></p>

    </div>
  </div>

</BaseLayout>
