---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="05 - Service Now, Inc. v. BMC Software - telecommnet.com" description="Expert witness case: 05 - Service Now, Inc. v. BMC Software. Dr. Tal Lavian provided telecommunications expert testimony. 100+ federal court cases, 120+ patents."  robots="noindex, follow">

  <div class="hero-banner">
    <h1>05 &#8211; Service Now, Inc. v. BMC Software</h1>
  </div>

  <div class="container">
    <div class="content-full">

      <ul>
        <li><a href="/files/cases/US-Patent-No-8674992.pdf">U.S. Patent No. 8,674,992</a></li>
        <li><a href="/files/cases/Declaration-of-Tal-Lavian-PhD-4.pdf">Declaration of Tal Lavian Ph.D.</a></li>
        <li><a href="/files/cases/US-Patent-No-7600007.pdf">U.S. Patent No. 7,600,007</a></li>
        <li><a href="/files/cases/US-Pat-Application-Pub-No-2008-0295100.pdf">U.S. Pat. Appl. Pub. No. 2008/0295100</a></li>
        <li><a href="/files/cases/US-Pat-Application-Pub-No-2006-0101347.pdf">U.S. Pat. Appl. Pub. No. 2006/0101347</a></li>
        <li><a href="/files/cases/US-Patent-No-6169534.pdf">U.S. Patent No. 6,169,534</a></li>
        <li><a href="/files/cases/International-Published-Pat-Application-No-WO-98-21668.pdf">International Published Pat. Appl. No. WO 98/21668</a></li>
        <li><a href="/files/cases/US-Pat-Application-Pub-No-2009-0076992.pdf">U.S. Pat. Appl. Pub. No. 2009/0076992</a></li>
      </ul>

      <p class="tags">Tagged: <a href="/communications-expert-witness/">communications expert witness</a>, <a href="/communications-expert-witness/">Computer networks expert witness</a>, <a href="/communications-expert-witness/">expert witness routing protocols</a>, <a href="/communications-expert-witness/">Expert witness telecommunications</a>, <a href="/communications-expert-witness/">Network communications expert witness</a></p>

    </div>
  </div>

</BaseLayout>
