---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="Programmable Architecture Java Network - telecommnet.com" description="Scientific publication: Programmable Architecture Java Network. By Dr. Tal Lavian, Ph.D. UC Berkeley. Peer-reviewed telecommunications research."  robots="noindex, follow">

  <div class="hero-banner">
    <h1>Programmable Architecture Java Network</h1>
  </div>

  <div class="container">
    <div class="content-full">

      <h5>Lavian, T.; Jaeger, R. F.; Hollingsworth, J. K.; IEEE Hot Interconnects Stanford University, August 1999, pp. 265-277.</h5>

      <p>Current network devices enable connectivity between end systems given a set of protocol software bundled with vendor hardware. It is impossible for customers to add software functionality running locally on top of network devices to augment vendor software. Our vision is to open network devices so that customized software can be downloaded, allowing for more flexibility and with a focus on industry and customer-specific solutions. This brings considerable value to the customer.</p>

      <p>We have chosen to use Java because we can reuse its security mechanism and dynamically download software. We can isolate the Java VM and download Java programs from the core router functionality.</p>

      <p>We implemented Java Virtual Machines (JVMs) on a family of network devices, implemented an Open Services framework, and developed an SNMP MIB API and a Network API, upon which we can demonstrate the value of network device openness and programmability.</p>

      <p class="tags">Tagged: <a href="/communications-expert-witness/">Cloud Computing</a>, <a href="/communications-expert-witness/">Computer networks expert witness</a>, <a href="/communications-expert-witness/">Expert witness mobile wireless</a>, <a href="/communications-expert-witness/">Expert witness telecommunications</a>, <a href="/communications-expert-witness/">Network Communications</a>, <a href="/communications-expert-witness/">Network communications expert witness</a>, <a href="/communications-expert-witness/">Networking</a></p>

    </div>
  </div>

</BaseLayout>
