---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="Open Networking - Networking Programmability - telecommnet.com">

  <div class="hero-banner">
    <h1>Open Networking – Networking Programmability</h1>
  </div>

  <div class="container">
    <div class="content-full">

      <h5>Nortel Seminar, Tal Lavian, August 2000.</h5>

    </div>
  </div>

</BaseLayout>
