---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="17 - RPX v. MD Security Solutions LLC - telecommnet.com" description="Expert witness case: 17 - RPX v. MD Security Solutions LLC. Dr. Tal Lavian provided telecommunications expert testimony. 100+ federal court cases, 120+ patents."  robots="noindex, follow">

  <div class="hero-banner">
    <h1>17 &#8211; RPX v. MD Security Solutions LLC</h1>
  </div>

  <div class="container">
    <div class="content-full">

      <ul>
        <li><a href="/files/cases/US-Patent-No-7864983.pdf">U.S. Patent No. 7,864,983</a></li>
        <li><a href="/files/cases/Declaration-of-Tal-Lavian-PhD-4-1.pdf">Declaration of Tal Lavian, Ph.D.</a></li>
        <li><a href="/files/cases/US-Patent-No-7864983.pdf">U.S. Patent No. 7,864,983</a></li>
        <li><a href="/files/cases/US-Patent-Publication-No-20050267605.pdf">U.S. Patent Publication No. 2005/0267605</a></li>
        <li><a href="/files/cases/US-Patent-No-7106333.pdf">U.S. Patent No. 7,106,333</a></li>
        <li><a href="/files/cases/US-Patent-No-7253732.pdf">U.S. Patent No. 7,253,732</a></li>
        <li><a href="/files/cases/US-Patent-Publication-No-20040120581.pdf">U.S. Patent Publication No. 2004/0120581</a></li>
        <li><a href="/files/cases/US-Patent-Publication-No-20070070185-1.pdf">U.S. Patent Publication No. 2007/0070185</a></li>
        <li><a href="/files/cases/US-Patent-No-7463145.pdf">U.S. Patent No. 7,463,145</a></li>
      </ul>

      <p class="tags">Tagged: <a href="/communications-expert-witness/">Expert witness mobile wireless</a>, <a href="/communications-expert-witness/">Expert witness telecommunications</a></p>

    </div>
  </div>

</BaseLayout>
