---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="Dangerous Liaisons - Software Combinations as Derivative Works?">

  <div class="hero-banner">
    <h1>Dangerous Liaisons – Software Combinations as Derivative Works?</h1>
  </div>

  <div class="container">
    <div class="content-full">

      <h5>Determann L.; Berkeley Technology Law Journal. Volume 21, Issue 4, Fall 2006.</h5>

      <p>(Lavian T. contributor to the technical section).</p>

      <p>Companies have been fighting about software interoperability and substitutability for decades. The battles have usually involved wholesale copying and significant modifications of code to achieve compatibility, and the law seems fairly settled in this respect. More recently, however, software developers and users alike have started to wake up to potential problems regarding combinations of separate programs, particularly in connection with open source software. Fear, uncertainty and doubt ("FUD") prevail in all quarters and have become a prominent topic in the computer lawyer community.</p>

      <p>This Article begins with a brief introduction to the issue and its context (I), examines the relevant copyright law principles in general (II) and the application of copyright law to software in particular (III), goes on to illustrate the classification of software combinations under copyright law in a few common technical and commercial scenarios (IV), and addresses the practical implications in the context of commercial (V) and open source licensing (VI), which is especially timely in light of the current debate surrounding the update of the General Public License (GPL). The article concludes that most forms of software combinations are less dangerous than commonly assumed, because they do not constitute derivative works (but instead either compilations or sui generis aggregations outside the scope of the copyright owner's exclusive rights), and a number of statutes and legal doctrines significantly limit a copyright owner's ability to contractually prohibit software combinations that do not also constitute derivative works under copyright law.</p>

      <p class="tags">Tagged: <a href="/tag/cloud-computing/">Cloud Computing</a>, <a href="/tag/communications/">Communications</a>, <a href="/tag/software-application/">Software Application</a></p>

    </div>
  </div>

</BaseLayout>
