---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="06 - Service Now v. BMC Software - telecommnet.com">

  <div class="hero-banner">
    <h1>06 &#8211; Service Now v. BMC Software</h1>
  </div>

  <div class="container">
    <div class="content-full">

      <ul>
        <li><a href="/files/cases/US-Patent-No-6816898.pdf">U.S. Patent No. 6,816,898</a></li>
        <li><a href="/files/cases/Declaration-of-Tal-Lavian-PhD-5.pdf">Declaration of Tal Lavian, Ph.D.</a></li>
        <li><a href="/files/cases/Todd-Miller-et-al-satool-A-System-Administrators-Cockpit-An-Implementation.pdf">Todd Miller et al. satool A System Administrator&rsquo;s Cockpit, An Implementation</a></li>
        <li><a href="/files/cases/Excerpts-from-Brian-W-Kernighan-et-al-The-C-Programming-Language.pdf">Excerpts from Brian W. Kernighan et al. The C Programming Language</a></li>
        <li><a href="/files/cases/Excerpts-from-Evi-Nemeth-et-al-UNIX-System-Administration-Handbook.pdf">Excerpts from Evi Nemeth et al. UNIX System Administration Handbook</a></li>
        <li><a href="/files/cases/Request-for-Comments-RFC-1067-A-Simple-Network-Management-Protocol.pdf">Request for Comments (RFC) 1067 A Simple Network Management Protocol</a></li>
        <li><a href="/files/cases/Excerpts-from-Heinz-Gerd-Hegering-et-al-Integrated-Management-of-Networked-Systems.pdf">Excerpts from Heinz-Gerd Hegering et al. Integrated Management of Networked Systems</a></li>
        <li><a href="/files/cases/Excerpts-from-Randal-L-Schwartz-et-al-Learning-Perl.pdf">Excerpts from Randal L. Schwartz et al. Learning Perl</a></li>
        <li><a href="/files/cases/Excerpts-from-Microsoft-Press-Computer-Dictionary.pdf">Excerpts from Microsoft Press Computer Dictionary</a></li>
      </ul>

      <p class="tags">Tagged: <a href="/communications-expert-witness/">Computer networks expert witness</a>, <a href="/communications-expert-witness/">expert witness computer networks</a>, <a href="/communications-expert-witness/">Internet</a>, <a href="/communications-expert-witness/">Network communications expert witness</a></p>

    </div>
  </div>

</BaseLayout>
