---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="21 - Rockstar Technologies v. Cisco Systems - telecommnet.com">

  <div class="hero-banner">
    <h1>21 &#8211; Rockstar Technologies v. Cisco Systems</h1>
  </div>

  <div class="container">
    <div class="content-full">

      <ul>
        <li><a href="/files/cases/US-Patent-No-6778653.pdf">U.S. Patent No. 6,778,653</a></li>
        <li><a href="/files/cases/US-Patent-No-6684241.pdf">U.S. Patent No. 6,684,241</a></li>
        <li><a href="/files/cases/US-Patent-No-6636508.pdf">U.S. Patent No. 6,636,508</a></li>
        <li><a href="/files/cases/US-Patent-No-6233245.pdf">U.S. Patent No. 6,233,245</a></li>
        <li><a href="/files/cases/US-Patent-No-6069895.pdf">U.S. Patent No. 6,069,895</a></li>
        <li><a href="/files/cases/US-Patent-No-5732080.pdf">U.S. Patent No. 5,732,080</a></li>
      </ul>

      <p class="tags">Tagged: <a href="/tag/communications-expert-witness/">communications expert witness</a>, <a href="/tag/computer-networks-expert-witness/">Computer networks expert witness</a>, <a href="/tag/expert-witness-computer-networks/">expert witness computer networks</a>, <a href="/tag/network-communications-expert-witness/">Network communications expert witness</a></p>

    </div>
  </div>

</BaseLayout>
