---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="55 - T-Mobile v. Barkan Wireless Access... - telecommnet.com" description="Expert witness case: 55 - T-Mobile v. Barkan Wireless Access Technologies. Dr. Tal Lavian provided telecommunications expert testimony. 100+ federal court cas..."  robots="noindex, follow">

  <div class="hero-banner">
    <h1>55 &#8211; T-Mobile v. Barkan Wireless Access Technologies</h1>
  </div>

  <div class="container">
    <div class="content-full">

      <ul>
        <li><a href="/files/cases/EX1001-US8559369.pdf">U.S. Patent No. 8559369</a></li>
        <li><a href="/files/cases/Declaration-of-Tal-Lavian.pdf">Declaration of Tal Lavian, Ph.D.</a></li>
        <li><a href="/files/cases/US-Pat-No-8559369-B2.pdf">U.S. Pat. No. 8,559,369 B2</a></li>
        <li><a href="/files/cases/US-Patent-No-9042306-B2.pdf">U.S. Patent No. 9,042,306 B2</a></li>
        <li><a href="/files/cases/Declaration-of-Dr-Tal-Lavian.pdf">Declaration of Dr. Tal Lavian (&ldquo;Lavian Decl.&rdquo;)</a></li>
        <li><a href="/files/cases/Prosecution-History-of-the-369-Patent.pdf">Prosecution History of the &rsquo;369 Patent</a></li>
        <li><a href="/files/cases/Prosecution-History-of-the-306-Patent.pdf">Prosecution History of the &rsquo;306 Patent</a></li>
        <li><a href="/files/cases/US-Pat-No-7562393.pdf">U.S. Pat. No. 7,562,393</a></li>
        <li><a href="/files/cases/US-Pat-No-6763012.pdf">U.S. Pat. No. 6,763,012</a></li>
        <li><a href="/files/cases/US-Pub-No-20040218611.pdf">U.S. Pub. No. 2004/0218611</a></li>
        <li><a href="/files/cases/US-Pub-No-20040103278.pdf">U.S. Pub. No. 2004/0103278</a></li>
        <li><a href="/files/cases/Intl-Pub-No-WO2005069577.pdf">Int&rsquo;l Pub. No. WO2005/069577</a></li>
        <li><a href="/files/cases/US-Pub-No-20050261970.pdf">U.S. Pub. No. 2005/0261970</a></li>
        <li><a href="/files/cases/US-Pat-No-7606559.pdf">U.S. Pat. No. 7,606,559</a></li>
        <li><a href="/files/cases/Perkins-Mobile-IP-Design-Principles-and-Practices-Part-1.pdf">Perkins, Mobile IP, Design Principles and Practices Part 1</a></li>
        <li><a href="/files/cases/Perkins-Mobile-IP-Design-Principles-and-Practices-Part-2.pdf">Perkins, Mobile IP, Design Principles and Practices Part 2</a></li>
        <li><a href="/files/cases/RFC3344-IP-Mobility-Support-for-IPv4.pdf">RFC3344, IP Mobility Support for IPv4</a></li>
        <li><a href="/files/cases/US-Pat-No-7389412.pdf">U.S. Pat. No. 7,389,412</a></li>
        <li><a href="/files/cases/Frankel-et-al-Guide-to-IPSec-VPNs-NIST-Special-Publication-800-77.pdf">Frankel et al., Guide to IPSec VPNs, NIST Special Publication 800-77</a></li>
        <li><a href="/files/cases/Lucent-IPSec-Client-Datasheet-2005.pdf">Lucent IPSec Client Datasheet (2005)</a></li>
        <li><a href="/files/cases/RFC4301-Security-Architecture-for-the-Internet-Protocol.pdf">RFC4301 Security Architecture for the Internet Protocol</a></li>
        <li><a href="/files/cases/RFC2131-Dynamic-Host-Configuration-Protocol.pdf">RFC2131 Dynamic Host Configuration Protocol</a></li>
        <li><a href="/files/cases/RFC2663-IP-Network-Address-Translator-NAT-Terminology-and-Considerations.pdf">RFC2663 IP Network Address Translator (NAT) Terminology and Considerations</a></li>
        <li><a href="/files/cases/RFC2002-IP-Mobility-Support.pdf">RFC2002 IP Mobility Support</a></li>
        <li><a href="/files/cases/RFC-3220-IP-Mobility-Support-for-IPv4.pdf">RFC 3220 &#8211; IP Mobility Support for IPv4</a></li>
        <li><a href="/files/cases/Patent-Owners-Claim-Construction-Statement-filed-in-case-against-Verizon.pdf">Patent Owner&rsquo;s Claim Construction Statement filed in case against Verizon</a></li>
        <li><a href="/files/cases/306-patent-Patent-Owners-Infringement-Contentions-v-T-Mobile.pdf">306 patent, Patent Owners Infringement Contentions v T-Mobile</a></li>
        <li><a href="/files/cases/US-Pat-No-7660584.pdf">U.S. Pat. No. 7,660,584</a></li>
        <li><a href="/files/cases/US-Pat-No-6636491.pdf">U.S. Pat. No. 6,636,491</a></li>
        <li><a href="/files/cases/US-Pat-No-6795689.pdf">U.S. Pat. No. 6,795,689</a></li>
        <li><a href="/files/cases/IEEE-DISTRIBUTED-SYSTEMS-ONLINE-1541-4922-2005.pdf">IEEE DISTRIBUTED SYSTEMS ONLINE 1541-4922 (2005)</a></li>
        <li><a href="/files/cases/US-Pat-No-6950628.pdf">U.S. Pat. No. 6,950,628</a></li>
        <li><a href="/files/cases/US-Pat-No-8411650.pdf">U.S. Pat. No. 8,411,650</a></li>
        <li><a href="/files/cases/US-Pub-No-20050054343.pdf">U.S. Pub. No. 2005/0054343</a></li>
        <li><a href="/files/cases/369-patent-Patent-Owners-Infringement-Contentions-v-T-Mobile.pdf">369 patent, Patent Owners Infringement Contentions v T-Mobile</a></li>
        <li><a href="/files/cases/Patent-Owners-Technology-Tutorial-filed-in-case-against-Verizon-.pdf">Patent Owner&rsquo;s Technology Tutorial filed in case against Verizon</a></li>
      </ul>

    </div>
  </div>

</BaseLayout>
